// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// テーブル
.name {
  width: 150px;
}
.book-number {
  width: 80px;
  text-align: center;
}
.desc {
  width: 200px;
}
