// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// テーブル
table {
  width: 100%;
  padding: 5px 10px 10px 10px;
}
th,td {
  -webkit-border-radius: 4px;
  background-color: #fff;
}

.name {
  width: 50%;
}
.book-number {
  width: 15%;
  text-align: center;
}
.desc {
  width: 20%;
}

div#form {
  width: 200px;
  margin: auto;
}
.operation {
  width: 15%;
}
