// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// テーブル
th,td {
  -webkit-border-radius: 4px;
  background-color: #fff;
}

.name {
  width: 120px;
}
.book-number {
  width: 40px;
  text-align: center;
}
.desc {
  width: 70px;
}

.operation {
  width: 60px;
}
